<div class="bg_white band">
	<div class="row">
	  <div class="large-4 columns text-center toppadding">
		<h4>Anthony is in between adventures ...</h4>
	  </div>
	  <div class="large-4 columns text-center toppadding">
		<img src="/assets/head.svg" type="image/svg+xml"/>
	  </div>
	  <div class="large-4 columns text-center toppadding" style="height:100px;">
		<h4><span id="buthis"></span></h4>
	  </div>
	</div>
</div>

<div class="bg_blue band">
	
	<div class="row">
	  <div class="large-11 large-centered columns text-center"><h2 class="color_brown">#AnthonyNeedsAJob</h2></div>
	</div>
	
</div>

<div class="bg_white band">
	
	<div class="row">
	
	  <div class="large-9 columns text-center">
		<h2>Available in 3 flavors!</h2>
		<div class="row">
			<div class="large-4 columns text-center">
				<a href="#bioinformatician">
					<span>
						<img src="/assets/bioinformatician.svg" type="image/svg+xml" />
						<h4>#BioInformatician</h4>
					</span>
				</a>
				 </div>

				 <div class="large-4 columns text-center">
				<a href="#codemonkey">
					<span>
						<img src="/assets/codemonkey.svg" type="image/svg+xml" />
						<h4>#CodeMonkey</h4>
					</span>
				</a>
				 </div>

				 <div class="large-4 columns text-center">
				<a href="#maker">
					<span>
						<img src="/assets/ubermaker.svg" type="image/svg+xml" />
						<h4>#Maker</h4>
					</span>
				</a>
			</div>
		</div>
	  </div>


	  <div class="large-3 columns text-center">
		<a href="#hire">
			<span>
				<h2 class="nowrap">Hire now!</h2>
				<img src="/assets/buynow.svg" type="image/svg+xml" />
				<h4>#LimitedOffer</h4>
			</span>
		</a>
	  </div>
	
	</div>

	<div class="row">
		<div class="large-12 columns">
			<hr/>
		</div>
	</div>

	<div class="row">
	  <div class="large-4 columns">
		<h4>What happened?</h4>
		<p>Anthony will soon start on an adventure in an exciting startup, but starting 1st of October 2013, he has no real source of income.</p>
		<p>Since Anthony can not sit on his hands, he is now looking for partners to tackle exciting technical problems together, for a few days, a few weeks or longer.</p>
	  </div>
	  <div class="large-4 columns">
		<h4>Who is Anthony?</h4>
		<p><a href="http://anthony.liekens.net" class="underline" target="_blank"><strong>Anthony Liekens</strong></a> aspires to be a scientist and entrepreneur at work and a dad at home, while being an eclectic hacker at both places.</p>
		<p>If you are genuinely interested in Anthony, you may want to read his <a href="http://anthony.liekens.net/index.php/Personal/CurriculumVitae" class="underline" target="_blank"><strong>curriculum vitae</strong></a> or <a href="http://anthony.liekens.net/index.php/Personal/Index" class="underline" target="_blank"><strong>personality sketch</strong></a>.
	  </div>
	  <div class="large-4 columns">
		<h4>How you can help</h4>
		<p>Do you have an exciting challenge and want Anthony to dive in and help you fix the problem? <a href="#hire" class="underline"><strong>Hire him now</strong></a> by suggesting your project!</p>
		<p>You may also want to <a href="#share" class="underline"><strong>share</strong></a> Anthony's story to help him find a job!</strong></p>
	  </div>
	</div>

</div>

<div class="bg_brown band" id="maker">
	<div class="row">
		<div class="large-12 columns">
			<h2 class="color_white">Anthony's <span class="color_creme">3</span> complementary flavors</h2>
		</div>
	</div>
</div>

<div class="bg_pink band" id="bioinformatician">
	<div class="row">
		<div class="large-8 columns">
			<h2>Anthony, <strong>#BioInformatician</strong></h2>
			<p>Grown up as a student of both <strong>computer science</strong> and <strong>biology</strong>, providing clear <strong>communication</strong> between these worlds is one of Anthony's prime special skills.</p>
			<p>Anthony brings along thorough experience with both <strong>biological and computational techniques</strong> and their applications in the <strong>large scale analysis</strong> of biomedical databases, processes and networks.</p>
			<p>Anthony's most <strong>recent and relevant experience</strong> is the development of <a href="http://biograph.be" class="brown underline" target="_blank"><strong>BioGraph</strong></a> at the VIB Department of Molecular Genetics and Department of Mathematics and Computer Science at the University of Antwerp.</p>
		</div>
		<div class="large-4 columns toppadding">
			<center>
				<img src="/assets/bioinformatician_white.svg" type="image/svg+xml" />
			</center>
		</div>
	</div>
</div>

<div class="bg_creme band" id="codemonkey">
	<div class="row">
		<div class="large-8 columns">
			<h2>Anthony, <strong>#CodeMonkey</strong></h2>
			<p>Anthony is an <strong>übergeek</strong> when it comes to handling bits. His favorite dabblings are in <strong>high performance computing with C++</strong> and <strong>front end web development with Ruby (on Rails)</strong> while his knowledge reaches well beyond that. Anthony's preferred domains are <strong>knowledge management</strong> and the automated <strong>mining of intelligence</strong>, but is also proud of his many experiments with <strong>web design</strong>.</p>
			<p>Of course, <strong>Anthony brings more</strong> to the table than just his coding skills. He can help you think <strong>creatively</strong>, <strong>entrepreneurially</strong> and <strong>scientifically</strong> about our approach to your problem.</p>
			<p>Besides challenging himself to design this particular web page responsively and without any raster images (neat, right?), <a href="http://music.biograph.be" class="brown underline" target="_blank"><strong>BioGraph for music</strong></a>, <a href="http://www.vlaamswoordenboek.be" class="brown underline" target="_blank"><strong>Het Vlaams Woordenboek</strong></a> and <a href="http://punthoofd.be" class="brown underline" target="_blank"><strong>Punthoofd</strong></a> are just a few of Anthony's eclectic brainchilds.</p>
		</div>
		<div class="large-4 columns toppadding">
			<center>
				<img src="/assets/codemonkey_white.svg" type="image/svg+xml" />
			</center>
		</div>
	</div>
</div>

<div class="bg_blue band" id="maker">
	<div class="row">
		<div class="large-8 columns">
			<h2>Anthony, <strong>#Maker</strong></h2>
			<p>Anthony runs a <strong>hackerspace</strong> from his garage, the <strong><a href="http://opengarage.org" class="brown underline" target="_blank">Open Garage</a></strong>, where he builds a community around the transfer of skills from the digital into <strong>the physical world</strong>.</p>
			<p>With his love for <strong>technology</strong>, <strong>engineering</strong> and <strong>innovation</strong>, Anthony can consult on any installation that is well beyond the usual limits of thinking, from <strong>3D printing</strong> or <strong>modernist cuisine</strong> to <strong>biohacking</strong> or <strong>electric vehicle conversions</strong>.</p>
			<p>Being an <strong>eclectic skill collector</strong> and <strong>lateral problem solver</strong>, Anthony is familiar with many making <strong>methods and techniques</strong> and is willing to tutor his expertise. With his abundant <strong>arsenal of tools</strong>, he'll go <strong>apeshit</strong> on your hardware project.</p>
		</div>
		<div class="large-4 columns toppadding">
			<center>
				<img src="/assets/ubermaker_white.svg" type="image/svg+xml" />
			</center>
		</div>
	</div>
</div>

<div class="bg_white band" id="hire">
	<div class="row">
		<div class="large-12 columns">
			<h2>Hire Anthony, #LimitedOffer!</h2>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<h4>What you'll get</h4>
			<p>If you can challenge Anthony to an imaginative task, he will be a productive and extremely enthusiastic collaborator to your project, providing an honest and valuable deal.</p>
			<p><strong>Your goal must be to pick his brain so you can take the next step.</strong></p>
			<p>We only have a <span class="color_pink">limited supply</span> of Anthony! Once his startup adventure gets the green light (Q1 or Q2 2014), that'll become his top priority.</p>
			<h5>Read Anthony's <a href="http://anthony.liekens.net/index.php/Personal/CurriculumVitae" class="underline" target="_blank"><strong>resume</strong></a> or his <a href="http://anthony.liekens.net/index.php/Personal/Index" class="underline" target="_blank"><strong>personality sketch</strong></a>.</h5>
		</div>
		<div class="large-6 columns">
			<h4>What Anthony costs</h4>
			<p>
				The following table represents the net monthly costs to operate one Anthony.
				We are interested in any honest proposition that allows Anthony to pay for these expenditures.
			</p>
			<p>
				House and family contribution <strong class="right">€1,300</strong><br/>
				Food <strong class="right">€600</strong><br/>
				Hobby <strong class="right">€250</strong><br/>
				Savings <strong class="right">€250</strong><br/>
				<strong>Your bonus</strong> <strong  class="right">€????</strong><br/>
				<hr/>
				<strong>Total net monthly costs</strong> <strong  class="right">€2,400 + Your bonus</strong>
			</p>
		</div>
	</div>
</div>


<div class="bg_brown band" id="form">
	<div class="row">
		<div class="large-12 columns">
			<h2 class="color_white">Suggest your challenge</h2>
		</div>
	</div>
</div>

<%= form_tag "/welcome/newoffer", :class => "toppadding", :remote => true do |f| %>
    <div class="row">
      <div class="large-12 columns">
        <p class="color_brown">Here's your chance to hire Anthony! Describe the project you want to tackle with Anthony (<span id="counter"></span> characters remaining)</p>
        <%= text_field_tag 'challenge', nil, :placeholder => "The sky is NOT the limit", :id => "140chars", :class => "large" %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
		<h4>Requirement</h4>
        <label class="color_brown">How many Full Time Anthony days (8 hours) do you need?</label>
        <%= text_field_tag 'requirement', nil, :placeholder => "10 days" %>
      </div>
      <div class="large-6 columns">
		<h4>Budget</h4>
        <label class="color_brown">How much do you want to spend on Anthony?</label>
        <%= text_field_tag 'budget', nil, :placeholder => "Be an honest altruist" %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
		<h4>Who are you?</h4>
	  </div>
	</div>
	
    <div class="row">
      <div class="large-6 columns">
        <label class="color_brown">Who do you represent?</label>
        <%= text_field_tag 'organization', nil, :placeholder => "Your organization" %>
      </div>
      <div class="large-6 columns">
        <label class="color_brown">What is your name?</label>
        <%= text_field_tag 'name', nil, :placeholder => "Your name" %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <label class="color_brown">What is your e-mail address?</label>
        <%= text_field_tag 'email', nil, :placeholder => "your@email.address" %>
      </div>
      <div class="large-6 columns">
        <label class="color_brown">What is your phone number?</label>
        <%= text_field_tag 'phone', nil, :placeholder => "+1 234 56 78 90" %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
			<h4>Go!</h4>
			<%= submit_tag 'Submit your challenge!', :class => "primary large button expand color_brown", :id => "formsubmit" %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns bottompadding">
			<label class="color_brown">	
				No, this is not a joke.
				Only serious and honest inquiries will be considered and replied to. 
				This form therefore does not guarantee an actual agreement. 
				We consider your submission as private and confidential, but may use anonymized data to publish analytics.
				Anthony preferably works from Antwerp, Belgium, but lives online.
				If you believe this website is silly and feel that e-mail is a better communication channel, you can also <a href="mailto:anthony@liekens.net" class="underline">drop Anthony a mail</a>.
			</label>
      </div>
    </div>

<% end %>

<div class="bg_creme band" id="share">
	<div class="row">
	  <div class="large-12 columns">
		<h2>Please, share #AnthonyNeedsAJob!</h2>
	  </div>
	</div>
	<div class="row">
	  <div class="large-4 columns text-center">
		<a href="https://plus.google.com/share?url=http://AnthonyNeedsAJob.com" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">	
			<span>
				<img src="/assets/google_white.svg" type="image/svg+xml" />
				<h4 class="color_white">Share on Google+</h4>
			</span>
		</a>
	  </div>
	  <div class="large-4 columns text-center">
		<a href="https://twitter.com/share?url=http://AnthonyNeedsAJob.com" target="_blank">
			<span>
				<img src="/assets/twitter_white.svg" type="image/svg+xml" />
				<h4 class="color_white">Share on Twitter</h4>
			</span>
		</a>
	  </div>
	  <div class="large-4 columns text-center">
		<a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2FAnthonyNeedsAJob.com', 'facebook-share-dialog', 'width=626,height=436'); return false;">
			<span>
				<img src="/assets/facebook_white.svg" type="image/svg+xml" />
				<h4 class="color_white">Share on Facebook</h4>
			</span>
		</a>
	  </div>
	</div>
</div>

<div class="bg_pink band" id="online">
	<div class="row">
	  <div class="large-12 columns">
		<h2>Find Anthony online</h2>
	  </div>
	</div>
	<div class="row">
	  <div class="large-3 columns text-center">
		<a href="http://anthony.liekens.net" target="_blank">
			<img src="/assets/home_white.svg" type="image/svg+xml" width="133"/><p/>
		</a>
	  </div>
	  <div class="large-3 columns text-center">
		<a href="http://www.linkedin.com/profile/view?id=9742547" target="_blank">
			<img src="/assets/linkedin_white.svg" type="image/svg+xml" width="133"/>
		</a><p/>
	  </div>
	  <div class="large-3 columns text-center">
		<a href="https://plus.google.com/u/0/109420283197516932948/posts" target="_blank">
			<img src="/assets/google_white.svg" type="image/svg+xml" width="133"/>
		</a><p/>
	  </div>
	  <div class="large-3 columns text-center">
		<a href="http://twitter.com/aliekens" target="_blank">
			<img src="/assets/twitter_white.svg" type="image/svg+xml" width="133"/>
		</a><p/>
	  </div>
	</div>
</div>

<div class="bg_brown band" id="footer">
	<div class="row">
	  <div class="large-4 columns text-center">
		<label class="color_white">#AnthonyNeedsAJob &#169; 2013</label>
	  </div>
	  <div class="large-4 columns text-center">
		<label class="color_white">Concept and realization by <a href="http://anthony.liekens.net">Anthony Liekens</a></label>
	  </div>
	  <div class="large-4 columns text-center">
		<label class="color_white">Built with Ruby On Rails and Foundation</label>
	  </div>
	</div>
</div>

<div id="myModal" class="reveal-modal">
	<div class="row">
	  <div class="large-12 columns">
		<h2>Thank you for submitting a challenge</h2>
		<p class="lead">Anthony has been notified of your challenge. He will respond to your suggestion as soon as possible.</p>
		<p>If you want to contact Anthony directly, you can always <a href="mailto:anthony@liekens.net" class="color_brown underline">send him an e-mail.</a></p>
		<label class="color_brown">	
			Only serious and honest inquiries will be considered and replied to. 
			This confirmation does not guarantee an actual agreement. 
		</label>
	  </div>
	</div>
	
	<div class="row">
	  <div class="large-12 columns">
		<h3>Please, share #AnthonyNeedsAJob!</h3>
	  </div>
	</div>
	<div class="row toppadding">
	  <div class="large-4 columns text-center">
		<a href="https://plus.google.com/share?url=http://AnthonyNeedsAJob.com" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">	
			<span>
				<img src="/assets/google_white.svg" type="image/svg+xml" />
				<h4 class="color_white">Share on Google+</h4>
			</span>
		</a>
	  </div>
	  <div class="large-4 columns text-center">
		<a href="https://twitter.com/share?url=http://AnthonyNeedsAJob.com" target="_blank">
			<span>
				<img src="/assets/twitter_white.svg" type="image/svg+xml" />
				<h4 class="color_white">Share on Twitter</h4>
			</span>
		</a>
	  </div>
	  <div class="large-4 columns text-center">
		<a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2FAnthonyNeedsAJob.com', 'facebook-share-dialog', 'width=626,height=436'); return false;">
			<span>
				<img src="/assets/facebook_white.svg" type="image/svg+xml" />
				<h4 class="color_white">Share on Facebook</h4>
			</span>
		</a>
	  </div>
	</div>

	<a class="close-reveal-modal"><span class="color_brown large">&#215;</span></a>
	
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3231609-15', 'anthonyneedsajob.com');
  ga('send', 'pageview');

</script>
