<!--

Looking at the source, are we? AWESOME! I think we can find a match for an interesting challenge!

You may find the complete source of this web site at https://github.com/aliekens/anthonyneedsajob2                                                                                                                                                      
                                                                                                                                                      
                                                                  :I:88888888888888:I:                                                                
                                                          :I888888888:IIII:I8888888II8888888I:                                                        
                                                    :88888888888:I::::::::::::::::::::::I8888888888:                                                  
                                                I88888888888II:::::II:888I::::::::::::::::III:II8888888I                                              
                                             888888888:IIIIII::I::I88III88I:::::::::::::::::::::::IIII88888                                           
                                         I8888888888:III:III8888888888IIIIII:IIIIII::II::::::::::::IIII8888888I                                       
                                      :88888888IIII888888888888888888888:II8888II88III88IIIIIIIIIIIIIII8888888888:                                    
                                    I8:8IIIIIIIIIII88888888888888888888888888888888888888:IIIIIII::::::::III8888888I                                  
                                  IIII8IIIIIIIIIIII8888888888888888888888888888888888888888I8:IIIIII:::::I888888888888                                
                                III:8888IIIIIIIIIII88888888888888888888888888888888888888888888888IIIIIIIII8888888888888                              
                              IIIIIIIIIIIIIIIIIIIII888888888888888888888888888I:IIIIIIIIIIII:IIIIIII::::IIIIIIIII8888:II88                            
                            IIIIIIIIIII8IIIIIIIIII8888888888888888888888888:IIIIII:::::::::::IIIIII:::::IIIIIIIII:888III8:II                          
                           IIIIIIIIIII:IIIII888888888888IIIIIIIIIIIIIIIIIIIIIII::::::::   :::::IIIIIII::IIIIIIIIIIIIIIIIIIIII                         
                         IIIIIIIIIIIIIIIII888888888888IIIIIIIII:IIIIIIIIIIIIII:::::::         ::::IIIIIIIIIIIIIIIIIIIIIIIIIIIII                       
                        IIIIIIIIIIIIIIIII:88888888888IIIIIIIIIIIIIIIIIIIIIIIII::::::::       :::::::III888:IIIIIIIIIIIIIIIIIIIII                      
                       :II:IIIIIIIIIIIIII888888888888IIIIIIIIIIIIIIIIIIIIIIIII:::::::::::::::::::::::III8IIIIIIIIIIIIIIIIIIIIIIII                     
                      :::::::::IIIIIIIIII88888888888IIIIIIIIIIIIIIIIIIIIIIIIII::::::::::::::::::::::::III888IIIIIIIIIIIIIIIIIIIIII:                   
                     :IIII:::::::::IIIII88888888888:IIIIIIIIIIIIIIIIIIIIIIIIIII:::::::::::::::::::::::III:I8:IIIIIIIIIIIIIIIIIIIIII                   
                    :    ::::::::::::::I8888888888IIIIIIIIIIIIIIIIIIIIIIIIIIII::::::::::::::::::::::::IIIIIIIIIIIIIIIIIIIIIIIIIIIIII                  
                   ::::::II::::III:::::I88888888:III:IIIIIIIIIIIIIIIIIIIIIIII:::::::::::::::::::::::IIIIII:I:::::IIIIIIIIIIIIIIIIIIII:                
                           ::I:::I:   :I888888IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII::::::::::::::::::::IIIIIIIIII:::IIIIIIIIIIII:::II::::                
                 IIIIIIIIIIIIIIIIIIIIII8888888IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:::::::::::::::::IIIIIIIIIIII:::IIII:IIIIIIIIIIIIIII               
                :IIIIIIIIIIIIIIIIIIIIII8888888IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII::::: :::::::IIIIIIIIIII::IIIII::::::::::::::::               
                IIIIIIIIIIIIIIII:IIIIII8888888IIII88888888:IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:::::::::IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              
                III::::::::IIII:  ::III888888III88888888888IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:::::::IIIIIIIIII:::IIIIIIIIIIIIIIIIIIIII              
               :I::::::::::::I:     ::I888888I8888888IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII::::IIIIIIIIII:::: ::IIIIIIIIIIIIIIIIII             
               :::::::::::::::::     :II8888:I:8888IIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:IIIIIIIIIIIIIIII:::IIIIII:::::::    :::::::::::                    
               :::::::::::::::::::::::II8888III888IIIIIIIII:I88888IIIIIIIIIII8888888888IIIIIIIIIIIIIIIIIIIIIIIII:::::::::::::::::::::::::             
              ::::::::::::::::::::::::II8888IIIIIIIII:88888888888888IIIIIII888888888888888888IIIIIIIIIIIIIIIIIII:::::::::::::::::::::::::             
              :::::::::::::::::::::::::II888III8III88888888888888888IIIIII888888888888888888IIIIII::::::IIIIII:::::::::::::::::::::: :::::            
              ::::::::::::::::::::::::::I88IIII888888888888888888888IIIIIII888888888IIIIIIIIIIII:::::::::IIIIII::::::::::::::::::::::::::             
              ::::::::::::::::::::::::::II8IIII8888I::::88888888888IIIIIIIII88:IIIIIIIIIIIIIIII::::::::::IIIIIIII:::::::::::::::::::::::::            
              ::::::::::::::::::::::::::IIIIIIIIIIIIIIIIIII:888888IIIIIIIIIIIIIIIIIIIIIIIIIII::::::::::::::::IIII::::::::::::::::::::::::             
              :::::::::::::::::::::::::::IIIIIIIIIIIIIIIIIIIIII888IIIIIIIIIIIIIIIIIIIIIIIIII:::::::::::::::::::::::::::::::::::::::::::::             
               :::::::::::::::::::::::::::IIIIIIIIIIIIIIIIIIIII888IIIIIIIIIIIIIIIIIIIIIIIIII:::::::::::::::::::::::::::::::::::::::::::::             
               :::::::::::::::::::::::::::IIIIIIIIIIIIIIIIIIIIII8IIIIIIIIIIIIIIIIIIIIIIIIIIIII:::::::::::::II::::::::::::::::::::::::::::             
               :::::::::::::::::::::::::::IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII::::::IIII::::::::::::::::::::::::::             
                :::::::::::::::::::::::::::IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:IIIIIIIIIIIIIIIIIIIIIIIIII::::::::::::::::::::::::::::::::::              
                ::::::::::::::::::::::::::::IIIIIIIIIIIIIIIIIIIII88IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:::::::::::::::::::::::::::::   ::              
                 :::::::::::::::::::::::::::::IIIIIIIIIIIIIIIII:8888IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:::::::::::::::::::::::::::::                   
                 :::::::::::::::: ::::::::::::IIIIIIIIIIIIII8888888:IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:::::::::::::::::::::::::::::                   
                  :::    ::::::::    ::::::::::IIIIIIIIIIII88888IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII::::::::::::::::::::::::::::                   
                     :::::           ::::::::::IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:::::::::::::::::::::::::::::                 
                    :::::::::         ::::::::::IIIIIIIIIIII888888IIIIIIIIIIIIIIII888888IIIIIIIIIIIIIIII::::::::::::::::::::::::::                    
                     ::::::::   :::::   ::::::::IIIIIIIIIIIII888888888IIII88888888888IIIIIIIIIIIIIIIIIII::::::::::::::::::::::::::::                  
                       :::::    :::I::   ::::::::IIIIIIIIIIIIIII88888888888II:::IIIIIIIIIIIIIIIIIIIIIIII:::::::::::::::::::::::::::                   
                         ::::   ::    ::   ::::  :IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII::::::::::  :::I:::::::::                     
                          ::::         ::        ::IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:             :I::::::::                      
                          ::            :        :::IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:             :::::::::                       
                           ::::                  :::::IIII8888IIIIIIIIIIIIIIIIIIIIIIIIII::I:IIIIIIIIIIII::        ::::::::II:                         
                            III                  ::::::II8888888888IIIIIIIIIIIII:8:IIIIII888IIIIIIIIIIII::          :::::::                           
                              I                  ::I::::II88888888888IIIIIIIII88888888888888IIIIIIIIIIIII:IIIIIIIII:::::::                            
                                                  IIIIIIIII8888888888IIIIIIIIIIIII:88888888888IIIIIIIIIII:II8IIIIII:::::                              
                                                  :III::IIII88888888:IIIIIIIIIIII88888888888IIIIIIIIIIIII:::88888IIIII                                
                                                  :III: IIII8888888888:IIIIIIIII888888888:IIIIIIIIIIIIIII::I88888888                                  
                                                   :I: :IIIII88888888888888888888888IIIIIIIIIIIIIIIIIIIII:::88888:                                    
                                            :::::     :II:88888888888I:IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:::8I                                       
                                             ::::::::II:88888888888888IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:                                           
                                                ::III8888888888888888IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII:                                              
                                                    :88888888888888888IIIIIIIIIIIIIIIIIIIIIIIIIIIII                                                   
                                                          I888888IIII8IIIIIIIIIIIIIIIIIIIIIII:                                                        
                                                                   ::I8IIIIIIIIIIII::                                                                 
                                                                                                                                                      
-->

<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta property="og:title" content="#AnthonyNeedsAJob" />
	<meta property="og:url" content="http://anthonyneedsajob.com" />
	<meta property="og:image" content="http://anthonyneedsajob.com/assets/screenshot.png" />
	<meta property="og:description" content="Anthony will soon start on an adventure in an exciting startup, but in the mean time, he has no real source of income. Since Anthony can not sit on his hands, he is now looking for partners to tackle exciting technical problems together, for a few days, a few weeks or longer." />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  	<title>#AnthonyNeedsAJob</title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
