<!--

You may find the source of this web site at https://github.com/aliekens/anthonyneedsajob2

888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888
888888888888888888888888888888888888888888888888888888888888888888OCo::::::::::::::oCO8888888888888888888888888888888888888888888888888888888888888888
8888888888888888888888888888888888888888888888888888888888Oc:::::::::oCCCCoc:::::::cc:::::::cO88888888888888888888888888888888888888888888888888888888
8888888888888888888888888888888888888888888888888888O:::::::::::oCOOOOOOOOOOOOOOOOOOOOOOC::::::::::O88888888888888888888888888888888888888888888888888
888888888888888888888888888888888888888888888888c:::::::::::cCOOOOOCCo:::COOOOOOOOOOOOOOOOCCCOCc:::::::c8888888888888888888888888888888888888888888888
888888888888888888888888888888888888888888888:::::::::oCCCCCCOOCOOC::CCc::COOOOOOOOOOOOOOOOOOOOOOOCCCC:::::8888888888888888888888888888888888888888888
88888888888888888888888888888888888888888C::::::::::oCCCoCCc::::::::::CCCCCCocCCCCCOOCCOOOOOOOOOOOOCCCc:::::::C888888888888888888888888888888888888888
88888888888888888888888888888888888888O::::::::cCCC:::::::::::::::::::::oCC::::cC::CCc::CCCCCCCCCCCCCCC::::::::::O888888888888888888888888888888888888
888888888888888888888888888888888888c:o:CCCCCCCCCCC::::::::::::::::::::::::::::::::::::::oCCCCCCCOOOOOOOOCCC:::::::c8888888888888888888888888888888888
8888888888888888888888888888888888Cccc:CCCCCCCCCCCC::::::::::::::::::::::::::::::::::::::::C:oCCCCCCOOOOOC::::::::::::88888888888888888888888888888888
88888888888888888888888888888888CCCo::::cCCCCCCCCCC:::::::::::::::::::::::::::::::::::::::::::::::CCCCCCCCc:::::::::::::888888888888888888888888888888
888888888888888888888888888888CCCCCCCCCCCCCCCCCCCCC:::::::::::::::::::::::::::coCCCCCCCCCCCCoCCCCCCCOOOOCCCCCCCcC::::occ::8888888888888888888888888888
8888888888888888888888888888CCCCCCCCCCC:CCCCCCCCCc:::::::::::::::::::::::::oCCCCCCOOOOOOOOOOOCCCCCCOOOOOCCCCCCCcCo:::CCC:oCC88888888888888888888888888
888888888888888888888888888CCCCCCCCCCCocCCCc::::::::::::CCCCCCCCCCCCCCCCCCCCCCCOOOOOOOO888OOOOOCCCCCCCOOCCCCCCCCCCCCCCCCCCCCC8888888888888888888888888
8888888888888888888888888CCCCCCCCCCCCCCCCC::::::::::::CCCCCCCCCOCCCCCCCCCCCCCCOOOOOOO888888888OOOOCCCCCCCCCCCCCCCCCCCCCCCCCCCCC88888888888888888888888
888888888888888888888888CCCCCCCCCCCCCCCCCo:::::::::::cCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOO8888888OOOOOOOCCC:::oCCCCCCCCCCCCCCCCCCCCC8888888888888888888888
88888888888888888888888OCCOCCCCCCCCCCCCCC::::::::::::CCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOCCc:CCCCCCCCCCCCCCCCCCCCCCCC888888888888888888888
8888888888888888888888OOOOOOOOOCCCCCCCCCc:::::::::::CCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOCCc:::CCCCCCCCCCCCCCCCCCCCCCO8888888888888888888
888888888888888888888OCCCCOOOOOOOOOCCCCC:::::::::::oCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOCCCoC:oCCCCCCCCCCCCCCCCCCCCCC8888888888888888888
88888888888888888888O8888OOOOOOOOOOOOOOC::::::::::CcCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC888888888888888888
8888888888888888888OOOOOOCCOOOOCCCOOOOOC::::::::oCCCoCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOCCCCCCoCOOOOOCCCCCCCCCCCCCCCCCCCCO8888888888888888
888888888888888888888888888OOCOOOCO888Oc::::::CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOCCCCCCCCCCOOOCCCCCCCCCCCCOOOCCOOOO8888888888888888
88888888888888888CCCCCCCCCCCCCCCCCCCCCC:::::::CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOCCCCCCCCCCCCOOOCCCCOCCCCCCCCCCCCCCC888888888888888
8888888888888888OCCCCCCCCCCCCCCCCCCCCCC:::::::CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOO8OOOOOOOCCCCCCCCCCCOOCCCCCOOOOOOOOOOOOOOOO888888888888888
8888888888888888CCCCCCCCCCCCCCCCOCCCCCC:::::::CCCC::::::::oCCCCCCCCCCCCCCCCCCCCCCCcCCCCCCCCCOOOOOOOOOCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC88888888888888
8888888888888888CCCOOOOOOOOCCCCO88OOCCC::::::cCC:::::::::::CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOCCCCCCCCCCOOOCCCCCCCCCCCCCCCCCCCCC88888888888888
888888888888888OCOOOOOOOOOOOOCO88888OOC::::::C:::::::cCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOCCCCCCCCCCOOOO8OOCCCCCCCCCCCCCCCCCC8888888888888
888888888888888OOOOOOOOOOOOOOOOO88888OCc::::oCo::::cCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCoCCCCCCCCCCCCCCCCOOOCCCCCCOOOOOOO8888OOOOOOOOOOO88888888888888888888
888888888888888OOOOOOOOOOOOOOOOOOOOOOOCC::::CCC:::CCCCCCCCCoc:::::cCCCCCCCCCc::::::::::cCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOO8888888888888
88888888888888OOOOOOOOOOOOOOOOOOOOOOOOCC::::CCCCCCCCCo::::::::::::::CCCCCCc::::::::::::::::::cCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOO8888888888888
88888888888888OOOOOOOOOOOOOOOOOOOOOOOOOCc:::CCC:CCc:::::::::::::::::cCCCCc::::::::::::::::::ccCCCCOOOOOOCCCCCCOOOOOOOOOOOOOOOOOOOOOO8OOOOO888888888888
88888888888888OOOOOOOOOOOOOOOOOOOOOOOOOOC::cCCC:::::::::::::::::::::CCCCCCC:::::::::cCCCCCCCCCCCOOOOOOOOOCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOOO8888888888888
88888888888888OOOOOOOOOOOOOOOOOOOOOOOOOOCc:CCCC::::coooo:::::::::::cCCCCCCCC::oCCCCCCCCCCCCCCCCOOOOOOOOOOCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOO888888888888
88888888888888OOOOOOOOOOOOOOOOOOOOOOOOOOCCCCCCCCCCCCCCCCCCCo::::::cCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOCCCCOOOOOOOOOOOOOOOOOOOOOOOO8888888888888
88888888888888OOOOOOOOOOOOOOOOOOOOOOOOOOOCCCCCCCCCCCCCCCCCCCCCC:::CCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO8888888888888
888888888888888OOOOOOOOOOOOOOOOOOOOOOOOOOOCCCCCCCCCCCCCCCCCCCCC:::CCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO8888888888888
888888888888888OOOOOOOOOOOOOOOOOOOOOOOOOOOCCCCCCCCCCCCCCCCCCCCCC:CCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOCCOOOOOOOOOOOOOOOOOOOOOOOOOOOO8888888888888
888888888888888OOOOOOOOOOOOOOOOOOOOOOOOOOOCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOCCCCOOOOOOOOOOOOOOOOOOOOOOOOOO8888888888888
8888888888888888OOOOOOOOOOOOOOOOOOOOOOOOOOOCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCoCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO88888888888888
8888888888888888OOOOOOOOOOOOOOOOOOOOOOOOOOOOCCCCCCCCCCCCCCCCCCCCC::cCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOOOOOO888OO88888888888888
88888888888888888OOOOOOOOOOOOOOOOOOOOOOOOOOOOOCCCCCCCCCCCCCCCCCo::::CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOOOOOO8888888888888888888
88888888888888888OOOOOOOOOOOOOOOO8OOOOOOOOOOOOCCCCCCCCCCCCCC:::::::oCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOOOOOO8888888888888888888
888888888888888888OOO8888OOOOOOOO8888OOOOOOOOOOCCCCCCCCCCCC:::::CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOOOOO8888888888888888888
888888888888888888888OOOOO88888888888OOOOOOOOOOCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOOOOOO88888888888888888
88888888888888888888OOOOOOOOO888888888OOOOOOOOOOCCCCCCCCCCCC::::::CCCCCCCCCCCCCCCc::::::CCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOOO88888888888888888888
888888888888888888888OOOOOOOO888OOOOO888OOOOOOOOCCCCCCCCCCCCC:::::::::cccc:::::::::::CCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOOOOO888888888888888888
88888888888888888888888OOOOO8888OOOCOO888OOOOOOOOCCCCCCCCCCCCCCc:::::::::::ccoooCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOOOOOOOOOOOOOOOOOOO8888888888888888888
8888888888888888888888888OOOO888OO8888OO888OOOO88OCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOOOOOOOOO88OOOCOOOOOOOOO888888888888888888888
88888888888888888888888888OOOO888888888OO88888888OOCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCO8888888888888OCOOOOOOOO8888888888888888888888
88888888888888888888888888OO888888888888O88888888OOOCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCO8888888888888OOOOOOOOO88888888888888888888888
888888888888888888888888888OOOO888888888888888888OOOOOCCCc::::CCCCCCCCCCCCCCCCCCCCCCCCCCooCocCCCCCCCCCCCOO88888888OOOOOOOOCCO8888888888888888888888888
8888888888888888888888888888CCC888888888888888888OOOOOOCC::::::::::cCCCCCCCCCCCCo:oCCCCCc:::CCCCCCCCCCCCOO8888888888OOOOOOO888888888888888888888888888
888888888888888888888888888888C888888888888888888OOCOOOOCC:::::::::::CCCCCCCCC::::::::::::::CCCCCCCCCCCCCOCCCCCCCCCOOOOOOO8888888888888888888888888888
88888888888888888888888888888888888888888888888888CCCCCCCCC::::::::::CCCCCCCCCCCCCo:::::::::::CCCCCCCCCCCOCc:cCCCcCOOOOO888888888888888888888888888888
88888888888888888888888888888888888888888888888888OCCCOOCCCC::::::::oCCCCCCCCCCCC:::::::::::CCCCCCCCCCCCCOOo:::::CCCCC88888888888888888888888888888888
88888888888888888888888888888888888888888888888888OCCCO8CCCC::::::::::oCCCCCCCCC:::::::::oCCCCCCCCCCCCCCCOOC::::::::8888888888888888888888888888888888
888888888888888888888888888888888888888888888888888OCO8OCCCCc:::::::::::::::::::::::cCCCCCCCCCCCCCCCCCCCCOOO:::::O888888888888888888888888888888888888
88888888888888888888888888888888888888888888OOOOO88888OCCo:::::::::::coCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCOOo:C888888888888888888888888888888888888888
888888888888888888888888888888888888888888888OOOOOOOOCCo::::::::::::::CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCO8888888888888888888888888888888888888888888
888888888888888888888888888888888888888888888888OOCCc::::::::::::::::cCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCO8888888888888888888888888888888888888888888888
8888888888888888888888888888888888888888888888888888O:::::::::::::::::CCCCCCCCCCCCCCCCCCCCCCCCCCCCC888888888888888888888888888888888888888888888888888
8888888888888888888888888888888888888888888888888888888888c::::::CCcC:cCCCCCCCCCCCCCCCCCCCCCCO88888888888888888888888888888888888888888888888888888888
8888888888888888888888888888888888888888888888888888888888888888888Ooc:cCCCCCCCCCCCOO88888888888888888888888888888888888888888888888888888888888888888
888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888

-->

<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta property="og:title" content="#AnthonyNeedsAJob" />
	<meta property="og:url" content="http://anthonyneedsajob.com" />
	<meta property="og:image" content="http://anthonyneedsajob.com/assets/screenshot.png" />
	<meta property="og:description" content="Anthony will soon start on an adventure in an exciting startup, but in the mean time, he has no real source of income. Since Anthony can not sit on his hands, he is now looking for partners to tackle exciting technical problems together, for a few days, a few weeks or longer." />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  	<title>#AnthonyNeedsAJob</title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
